<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:sharedUserId="android.uid.system"
    package="net.tharow.systemshell">

    <permission
        android:name="net.tharow.permission.SYSTEM_COMMAND"
        android:icon="@drawable/ic_system_command"
        android:label="@string/permission_label"
        android:description="@string/permission_description"
        android:protectionLevel="dangerous"/>

    <permission android:name="net.tharow.permission.SELF" android:protectionLevel="signature"/>
    <uses-permission android:name="net.tharow.permission.SELF"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SystemShell"
        android:directBootAware="true"
        tools:targetApi="31">
        <activity
            android:name=".ShellActivity"
            android:exported="true"
            android:theme="@style/Theme.SystemShell">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".receivers.CommandReceiver"
            android:exported="true"
            android:enabled="true"
            android:permission="net.tharow.permission.SYSTEM_COMMAND">
            <intent-filter>
                <action android:name="net.tharow.intent.action.SHELL_COMMAND"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.PingReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="net.tharow.intent.action.API_PING"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>